*{
    padding: 0;
    margin: 0;

}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(69, 125, 151);
    text-align: center;
    color: rgb(7, 36, 44);
    font-size: 1.6rem;
    font-family: Helvetica, sans-serif;
}
