main{
    margin:10px auto;
    width: 98%;
    height: 80vh;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "forum forum forum side"
                         "forum forum forum side"
                         "forum forum forum side"
                         "forum forum forum side";
    grid-gap: 20px;                     
    .forum{
        grid-area: forum;
        background-color: #b3cad8;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: auto;
        .container{
            height: 35%;
            width: 22%;
            background-color: rgb(95, 146, 167);
            display: flex;
            
            justify-content: center;
            align-items: center;
            color: floralwhite;
            border-radius: 20px;
            margin-top: 10px;
            overflow: hidden;
            &:hover h1{
                top:0;
            }
            h1{
                height: 100%;
                width: 100%;
                font-size: 1.2rem;
                padding: 5px;
                background-color: rgb(29, 94, 105);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                top:100%;
                text-align: justify;
                border-radius: 20px;
                transition: all .8s;
                box-sizing: border-box;
            }
        }
    }
    .sidebar{
        grid-area: side;
        background-color: #b3cad8;
        border-radius: 5px;
        text-align: center;
        overflow: auto;
        h1{
            font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 2rem;
            color: rgba($color: #112a41, $alpha: 0.80);
            padding-top: 10px;
            margin-bottom: 10px;
        }
        #filter{
            width: 60%;
            height: 4vh;
            border-radius: 5px;
            box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 85%;
            height: 30%;
            margin: 5px auto;
            border-radius: 5px;
            background-color: rgb(69, 125, 151);
            #element{
                width: 85%;
                height: 20%;
                border-radius: 5px;
                margin-bottom: 5px;

            }
            #btn{
                width: 85%;
                height: 25%;
                border-radius: 5px;
                background-color: #b3cad8;
                &:hover{
                    background-color:#597d94  ;
                }
            }
            h2{
                font-size: 1rem;
            }
        }
        
    }                      
}
