footer{
    height: 10vh;
    width: 100%;
    font-size: 1rem;
    background-color: rgba($color: #050f18, $alpha: 1.0);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}